
.col-pd-3{
  width: 33%;
}

.dsc-product-count{
  margin-top: 28px;
  display: flex;
  align-items: center; 
}
.product-qty-text{
  margin-top: 17px !important;
  width: 150px;
}
.dsc-product-count .product_count_item i{
  padding: 4px 8px 8px 8px;
  border: 1px solid #eee;
  margin: 0 -5px;
}
.dsc_input_number{
  text-align: center;
  color: #ff003c;
  width: 45px;
  height: 30px;
  border: 1px solid #eee;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }